.i7 {
  position: absolute;
  top: calc(50% - 506.5px);
  left: calc(50% + 315px);
  color: var(--color-white);
  display: inline-block;
  width: 4px;
}
.forgot-password-3-child {
  position: absolute;
  top: 982.5px;
  left: calc(50% - 498.5px);
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 982px;
  height: 1px;
}
.jokingid-all-right9 {
  position: absolute;
  top: 1012px;
  left: calc(50% - 218px);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  text-align: left;
}
.forgot-password-3-item {
  position: absolute;
  top: 156px;
  left: 641px;
  width: 561px;
  height: 754px;
  object-fit: cover;
}
.kata-sandi-baru {
  position: absolute;
  top: 222px;
  left: 238px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.username-child4 {
  position: absolute;
  top: 47px;
  left: 0;
  border-radius: 21.87px;
  width: 500px;
  height: 59px;
}
.label8 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.placeholder8 {
  position: absolute;
  top: 63.4px;
  left: 31px;
  font-size: var(--font-size-2xl-9);
  color: var(--color-dimgray);
  text-align: left;
}
.text,
.username8 {
  position: absolute;
  font-family: var(--font-montserrat);
}
.username8 {
  top: 425px;
  left: 103px;
  width: 500px;
  height: 106px;
  font-size: var(--font-size-6xl-5);
}
.text {
  top: 332px;
  left: 120px;
  font-size: var(--font-size-lg-9);
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 483px;
}
.group-child89 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gold-100);
  width: 500px;
  height: 59px;
}
.buat {
  position: absolute;
  top: calc(50% - 14.5px);
  left: calc(50% - 30px);
}
.rectangle-parent35 {
  position: absolute;
  top: 550px;
  left: 103px;
  box-shadow: 0 7.3px 7.29px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 59px;
  text-align: left;
  font-size: var(--font-size-4xl-7);
  font-family: var(--font-montserrat);
}
.navbar-child7 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
}
.fi-rr-diamond-icon9,
.top-up20 {
  position: absolute;
  top: 0;
  left: 34.18%;
}
.fi-rr-diamond-icon9 {
  height: 100%;
  width: 22.78%;
  right: 77.22%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.top-up19 {
  position: absolute;
  height: 18%;
  width: 6.17%;
  top: 41%;
  right: 20.39%;
  bottom: 41%;
  left: 73.44%;
}
.jokingid9 {
  position: absolute;
  top: 29%;
  left: 4.61%;
  font-size: var(--font-size-13xl);
  letter-spacing: 0.05em;
  color: var(--color-gold-200);
}
.joki20 {
  position: absolute;
  top: 9.09%;
  left: 51.67%;
}
.fi-rr-rewind-icon12 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 30px);
  width: 22px;
  height: 22px;
  overflow: hidden;
  object-fit: contain;
}
.joki19 {
  position: absolute;
  height: 22%;
  width: 4.69%;
  top: 39%;
  right: 29.61%;
  bottom: 39%;
  left: 65.7%;
}
.login12 {
  position: absolute;
  top: 41%;
  left: 83.44%;
  font-weight: 600;
}
.sign-up-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold-100);
}
.sign-up21 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 28px);
  font-weight: 600;
}
.sign-up20 {
  position: absolute;
  height: 26%;
  width: 6.25%;
  top: 38%;
  right: 5.16%;
  bottom: 36%;
  left: 88.59%;
  color: var(--color-gray-100);
}
.group-child90 {
  position: absolute;
  height: 100%;
  width: 25.35%;
  top: 0;
  right: 74.65%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home9,
.vector-parent7 {
  position: absolute;
  top: 0;
  left: 40.85%;
}
.vector-parent7 {
  height: 18%;
  width: 5.55%;
  top: 41%;
  right: 37.19%;
  bottom: 41%;
  left: 57.27%;
}
.navbar9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1280px;
  height: 100px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.forgot-password-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1099px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs-4);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
